# Because it's really supposed to go in a global ignore, let's put it here
**/.swp

# Ignore bundler config.
**/.bundle

# Ignore the default SQLite database.
**/.sqlite3
**/.sqlite3-journal

# Ignore all logfiles and tempfiles.
**/log
!/log/.keep
**/tmp
