<p id="notice"><%= notice %></p>

<p>
  <strong>Typeid:</strong>
  <%= @event.typeID %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>


<%= link_to 'Back', events_path %>
