<h1>455 Reference Project</h1>
<p>
<h2>Please select from the following tables:</h2>
<table>
  <tr>
    <% @list_of_tables.each do |table| %>
      <tr>
	<td><%= table %></td>
      </tr>
    <% end %>

   </tr>
</table>
</p>
